nav {
  background-color: #da001e;
}

.navbar-nav > li > a {
  color: #151217;
}

.navbar-nav > li > a:active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  text-decoration: underline;
  font-weight: bold;
}
