/*********** Style Footer  ************/

.row {
  background-color: #da001e;
  padding-top: 1rem;
  margin-top: 2rem;
}

.container-title,
.container-link,
.container-logos {
  margin-bottom: 1.5rem;
}

.footer-title,
.footer-title-logos {
  font-weight: bold;
  color: #151217;
}

.footer-link {
  text-decoration: none;
  color: #151217;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-title-logos {
  margin-right: 3.5rem;
}

.logosocial {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: 1.25rem;
}

/*********** Style Footer Responsive  ************/

@media (min-width: 768px) {
  .container-link,
  .container-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-title,
  .container-link,
  .container-logos {
    margin-bottom: 0.5rem;
  }
}
