.about-title {
  color: #151217;
  text-align: center;
  padding: 2.5rem 0;
  font-weight: bold;
}

.card {
  border: none;
  background-color: #f9d0a3;
}

.container-img-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  width: 85%;
  height: auto;
  border-radius: 0.625rem;
  margin-right: 2rem;
}

.about-p {
  line-height: 2.5;
}
