<main class="accueil-general">
  <h1 class="title">Bienvenue Au Petit Village</h1>

  <!-- Présentation principale -->
  <div class="card-principale mb-3" *ngFor="let presentation of presentations">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          [src]="presentation.imgURL1"
          class="img-fluid rounded-start"
          [alt]="presentation.alt1"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- innerHTML permet de lire la balise strong -->
          <p class="card-text" [innerHTML]="presentation.paragraph"></p>
        </div>
        <button type="button" class="btn-link btn-outline">
          <a class="about-link" routerLink="/about">En savoir plus</a>
        </button>
      </div>
    </div>
  </div>

  <!-- Section figurines -->
  <h2 class="title">Figurines</h2>

  <!-- Tri des figurines par prix -->
  <section class="search">
    <div class="dropdown">
      <button
        class="btn-dropdown dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Trier par :
      </button>
      <ul class="dropdown-menu">
        <li>
          <button class="dropdown-item" (click)="setSortOrder(true)">
            Prix croissant
          </button>
        </li>
        <li>
          <button class="dropdown-item" (click)="setSortOrder(false)">
            Prix décroissant
          </button>
        </li>
      </ul>
    </div>

    <!-- Barre de recherche -->
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input
          class="search-bar form-control me-2"
          type="search"
          name="search"
          aria-label="search"
          placeholder="Recherche par nom"
          [(ngModel)]="searchTerm"
        />
        <button class="btn-search btn-outline" type="button">Chercher</button>
      </form>
    </div>

    <!-- Liste des noms correspondant à la recherche -->
    <div
      *ngIf="searchTerm && (figurines | filterByName : searchTerm).length > 0"
      class="search-results"
    >
      <ul class="list-group">
        <li
          *ngFor="let figurine of figurines | filterByName : searchTerm"
          class="list-group-item"
        >
          <a class="link-list-group" (click)="selectFigurine(figurine)">{{
            figurine.name
          }}</a>
        </li>
      </ul>
    </div>

    <!-- Affichage de toutes les figurines -->
    <div class="row row-cols-1 row-cols-md-3 g-5 custom-row">
      <ng-container *ngIf="!selectedFigurine; else selectedFigurineTemplate">
        <div
          class="col"
          *ngFor="let figurine of figurines | sortByPrice : isAscending"
        >
          <div class="card h-100">
            <!-- liaison dynamiquement de l'URL de l'image avec le tableau de données et l'attribut alt de l'image à partir des données. -->
            <a class="link-figurine" [routerLink]="['/product', figurine.id]"
              ><img
                [src]="figurine.imageUrl"
                class="card-img mx-auto d-block"
                [alt]="figurine.alt"
            /></a>
            <div class="card-body">
              <a class="link-cardtitle" [routerLink]="['/product', figurine.id]"
                ><h3 class="card-title">{{ figurine.name }}</h3></a
              >
              <p class="card-price">
                {{ figurine.price | currency : "EUR" }}
              </p>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Affichage figurine sélectionnée -->
      <ng-template #selectedFigurineTemplate>
        <div class="card-select-global" *ngIf="selectedFigurine">
          <div class="card-select">
            <div class="card-select-img">
              <a
                class="card-select-link"
                [routerLink]="['/product', selectedFigurine.id]"
                ><img
                  [src]="selectedFigurine.imageUrl"
                  class="card-img mx-auto d-block"
                  [alt]="selectedFigurine.alt"
                />
              </a>
            </div>

            <div>
              <div class="card-body">
                <a
                  class="card-select-link"
                  [routerLink]="['/product', selectedFigurine.id]"
                >
                  <h3 class="card-title">{{ selectedFigurine.name }}</h3>
                </a>

                <p class="card-price">
                  {{ selectedFigurine.price | currency : "EUR" }}
                </p>
              </div>
            </div>
          </div>
          <!-- Bouton de retour à la liste -->
          <button class="btn-back" (click)="selectedFigurine = null">
            Retour à la liste
          </button>
        </div>
      </ng-template>
    </div>
  </section>
</main>
