/********* PRESENTATION ENTREPRISE *********/

.title {
  color: #151217;
  text-align: center;
  padding: 2.5rem 0;
  font-weight: bold;
}

.card-principale {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem #151217;
}

.img-fluid {
  width: 95%;
  height: auto;
  border-radius: 0.625rem;
}

.card-body {
  padding: 0 1.25rem;
}

.card-text {
  color: #151217;
  line-height: 2.5;
}

.about-link {
  font-family: "Comfortaa", sans-serif;
  text-decoration: none;
  color: white;
}

.btn-link {
  background-color: #151217;
  margin-top: 2.5rem;
  margin-left: 1.25rem;
  border-radius: 0.625rem;
}

.btn-link:hover {
  font-family: "Comfortaa", sans-serif;
  background-color: white;
  border-color: #151217;
  font-weight: bold;
  text-decoration: none;
}

.about-link:hover {
  color: #151217;
  text-decoration: none;
}

/********* ENSEMBLE FIGURINES *********/

.custom-row {
  width: 100%;
  margin: 0 auto;
}

.card-img {
  width: 75%;
  height: auto;
  margin: 1.5rem 0;
}

.card-title {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
}

.link-cardtitle {
  text-align: center;
  text-decoration: none;
  color: #151217;
}

.card-price {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  color: #151217;
  border: #fdd90b solid 0.125rem;
  background-color: #fdd90b;
  width: fit-content; /* Prend la taille du contenu */
  margin: 1.5rem auto;
  cursor: default;
}

.dropdown {
  margin: 1.5rem 1.5rem 3.5rem 1.5rem;
}

.btn-dropdown {
  background-color: #151217;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  border-radius: 0.625rem;
}

.dropdown-item {
  color: #151217;
}

.search-bar {
  width: 35%;
}

.btn-search {
  background-color: #151217;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  border-radius: 0.625rem;
}

.container-fluid {
  padding: 1.5rem;
}

.link-list-group {
  text-decoration: none;
  color: #151217;
}

.link-list-group:hover {
  font-weight: bold;
  cursor: pointer;
}

.list-group {
  width: 35%;
}

/********* FIGURINE SELCETIONNEE *********/

.card-select {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem #151217;
}

.card-select-link {
  text-decoration: none;
  color: #151217;
  text-align: center;
}

.btn-back {
  background-color: #fdd90b;
  margin: 2rem 0;
  font-weight: bold;
  border-radius: 1.5rem;
}

.btn-back:hover {
  background-color: #151217;
  color: #fdd90b;
}

/********* CSS RESPONSIVES *********/

@media (max-width: 768px) {
  .custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-img {
    width: 100%;
  }

  .search-bar {
    width: 100%;
  }

  .list-group {
    width: 100%;
  }
}
